@import "tailwindcss";

@theme {
  --color-primary: #003366;
  --color-secondary: #FFCC00;
  --color-background: #F5F7FA;
  --font-sans: "Pretendard", "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-slate-900 font-sans;
  }
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
